﻿body h1 {
    background-color: blueviolet;
}

body .top-bar {
    background-color: aquamarine;
}

    body .top-bar .main-bar {
        background-color: aqua;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: #808080;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: #808080;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
